<main>
    <mat-card>
        <form>
            <am-review-form-ratings></am-review-form-ratings>
            <mat-form-field color="primary">
                <mat-label>Choose course</mat-label>
                <mat-select>
                  <mat-option *ngFor="let course of courses" [value]="course">
                    {{course}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field >
                <mat-label>Your name</mat-label>
                <input matInput >
              </mat-form-field>
              <mat-form-field >
                <mat-label>Comments</mat-label>
                <textarea matInput ></textarea>
              </mat-form-field>
        </form>
    </mat-card>
    <mat-card></mat-card>
</main>
