<main>
  <mat-card>
    <form [formGroup]="revForm">
      <am-review-form-ratings></am-review-form-ratings>
      <div class="infos">
        <mat-form-field color="primary" class="infos__50">
          <mat-label>Choose course</mat-label>
          <mat-select formControlName="courseName">
            <mat-option *ngFor="let course of courses" [value]="course">
              {{course}}
            </mat-option>
          </mat-select>

          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="infos__50">
          <mat-label>Your name</mat-label>
          <input matInput formControlName="name">
          
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field class="infos__100">
          <mat-label>Review</mat-label>
          <textarea matInput formControlName="review" rows="1"></textarea>
          
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <div class="btns infos__100">
          <button mat-flat-button color="accent" (click)="addReview()" type="button">Submit</button>
        </div>
      </div>

    </form>
  </mat-card>
  <mat-card>
    <am-review-stats [reviews]="reviews"></am-review-stats>
  </mat-card>
  <mat-card>
   <am-review-list></am-review-list>
  </mat-card>
</main>