main{
    padding: 1rem;
}

mat-card{
    padding: 0.5rem 5rem 0.75rem;
}

.infos{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    &__50{
        flex: 1 1 49%;
    }
    &__100{
        flex: 0 0 100%;
    }

}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card + mat-card{
    margin-top: 1rem;
}