.ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 1rem;
    &__form{
        flex: 0 0 60%;
    }
    &__stats{
       flex: 0 0 39%;
    }
    &__list{
        flex: 0 0 100%;
        am-review-list{
            height: calc(100vh - 470px);

        }
    }
}

mat-card{
    padding: 0.5rem 2.5rem 0.75rem;
}

.infos{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    &__50{
        flex: 1 1 49%;
    }
    &__100{
        flex: 0 0 100%;
    }

}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card + mat-card{
    margin-top: 1rem;
}