@import 'mixins';

.ctn {
    padding: 1rem 2rem;
    height: 100%;

    &__form {
        padding: 1rem;
        display: flex;
        margin-bottom: 1rem;
    }

    &__items {
        display: flex;
        flex-flow: row wrap;

        gap: 10% am-team-view-item {
            flex: 0 0 45%;
        }
    }
}

.forms {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1em;

    s &__small {
        width: 280px;

    }


    &__large {
        width: calc(100% - 600px);
    }

    &--btn {
        flex: 1 1 100%;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



.table {
    @include table();
    padding: 0 .75rem;

    thead tr:first-child th {

        background-color: #fff;
    }

    thead tr:first-child th {

        position: sticky;
        // top: 0;
        opacity: 1;
        z-index: 1;
    }
}

.example-viewport {
    height: inherit;

}

.example-item {
    height: 50px;
}