@import 'mixins';

.ctn {
    padding: 1rem 2rem;
    height: 100%;

    &__form {
        padding: 1rem;
        display: flex;
        margin-bottom: 1rem;
    }

    &__items {
        display: flex;

        gap: 10%;

        am-team-view-item {
            flex: 0 0 45%;
        }
    }
}

.forms {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1em;

    s &__small {
        flex: 1;

    }


    &__large {
        flex: 2;
    }

    &--btn {
        flex: 1;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



.table {
    @include table();
    padding: 1em 1.25em;
    height: max-content;

    thead tr:first-child th {

        background-color: #fff;
    }

    thead tr:first-child th {

        position: sticky;
        // top: 0;
        opacity: 1;
        z-index: 1;
    }
}

.example-viewport {
    height: inherit;

}

.example-item {
    height: 50px;
}

.name {
    span {
        margin: 0 .5rem;
    }
}

.members {
    max-width: 300px;

    span::after {
        content: ', ';
    }

    span:last-of-type::after {
        content: '';
    }
}

button {
    background-color: var(--amber-95);
    color: var(--amber-30)
}