<div class="team">

    <div class="team__panel">
        <h3>{{team.name}}</h3>
       <div class="buttons">
  
            <button mat-icon-button color="accent" >
              <mat-icon>edit</mat-icon>
            </button>
          
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
       </div>
    </div>
    <dl class="list">
 
    
        <dt>Start Date</dt>
        <dd>{{team.startDate | date}}</dd>

        <dt>End Date</dt>
        <dd>{{team.endDate | date}}</dd>
    
        <dt>Members</dt>
        <dd class="list__members" >
            <span class="member" *ngFor="let member of team.members">{{member.lastName}} {{member.firstName}}</span>
        </dd>
    </dl>
</div>
