.main {
    padding: 0.5rem 1.25rem;

    h2 {
        margin-left: 4rem;
        margin-top: 0;
        color: blue;
    }
}

.info {
    padding-left: 4rem;
    padding-top: 0.5rem;
    background-color: var(blue);
    //   border-bottom: 3px solid var(--pink-600);
}

.tabs {
    background-color: #fff;
    height: calc(100vh - 160px);
}

am-table-pagination {
    display: block;
    height: calc(100vh - 340px);
}

am-table-virtual {
    display: block;
    height: calc(100vh - 340px);
}

.search-results {
    height: calc(100vh - 340px);
    overflow: auto;
    padding: 0 1rem 1rem;
}