<main class="main">
  <h2>Load data- {{ data.length }} items</h2>


  <mat-tab-group  animationDuration="0ms" class="tabs">

    <mat-tab label="Infinite Scroll">

     <h3>{{ scrollItems }}</h3>
     <div class="search-results">

       <am-table-scrollable (updateScrollItems)="scrollItems = $event" [data]="data" [displayedColumns]="displayedColumns" [configColumns]="configColumns"></am-table-scrollable>
     </div>






    </mat-tab>
    <mat-tab label="Pagination">

      <am-table-pagination [data]="data" [displayedColumns]="displayedColumns"
        [configColumns]="configColumns"></am-table-pagination>
    </mat-tab>
    <mat-tab label="Virtual scroll">

      <am-table [data]="data" [headers]="headersUp" [config]="configUp"></am-table>
    </mat-tab>
  </mat-tab-group>


</main>