.main {
    padding: .5rem;
    h2{
        margin-left: 4rem;
    }
}

.tabs {
 background-color: #fff;
    height: calc(100vh - 140px);
}


am-table-pagination{
    display: block;
    height: 100%;
}