<main class="main">
  <h2>Data for table {{ data.length }} items</h2>


  <!-- <mat-tab-group animationDuration="0ms" class="tabs" mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Pagination">

      <am-table-pagination [data]="data" [displayedColumns]="displayedColumns"
        [configColumns]="configColumns"></am-table-pagination>
    </mat-tab>
    <mat-tab label="Second">Infinite Scroll</mat-tab>
    <mat-tab label="Third">Virtual scroll</mat-tab>
  </mat-tab-group> -->


</main>