.ctn {
    padding: 1rem;
}

mat-card {
    padding: 1rem;
}

.overflow {
    height: calc(100vh - 9.375rem);
    overflow: auto;
    padding-right: 1rem;
}

.tbl {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: .875rem;
    position: relative;

    td {
        border-bottom: 1px solid blue;
        padding: .5rem .5rem .5rem 2rem;
    }

    &__row {
        text-align: left;
    }

    &__row-header {
        text-align: left;
        height: 50px;

        th {
            top: 0;
            background-color: white;
            position: sticky;
            z-index: 10;
            text-transform: uppercase;
            color: blue;
            padding: .5rem 0.5rem 0 2rem;
        }
    }

    &__row-dark {
        text-align: left;
        height: 40px;

        th {
            top: 50px;
            background-color: white;
            position: sticky;
            z-index: 10;
            border-bottom: 2px double blue;
            padding: 0 0.5rem 0.5rem 0;
        }
    }

    &__filter {
        display: flex;
        align-items: center;

        .icon {

            color: blue;
        }

        .filter {
            margin-left: 0.375rem;
            border-radius: 10px;
            border: none;
            height: 24px;
            width: 100%;

            &:focus {
                // box-shadow: var(--teal-100) 0px 5px 10px 15px;
                box-shadow: 10px 15px 15px -5px blue;
                outline: none;
                //  background-color: rgba(178,223,219,0.2); ;
            }
        }
    }
}