

.hourctn {
    width: inherit;
    display: flex;
    gap: 5%;
    padding: 0 5px;
    &__select {
        width: 45%;
        opacity: 0;
        transition: opacity 200ms;
    }
    &__input{
        width: 35%;
        opacity: 0;
        transition: opacity 200ms;
    }
    .icon{
        width: 24px;
        height: 24px;
        line-height: 0;
    }
    .btn_icon{
        transform: scale(.85);
    }

}

::ng-deep.mat-select-panel{
    min-width: 28px !important;
    height: 120px;
}

::ng-deep.mat-select-panel::-webkit-scrollbar { width: 0 !important }


.spacer {
    opacity: 0;
    transition: opacity 200ms;
}

:host.example-floating .spacer {
    opacity: 1;
}

:host.example-floating .hourctn__input {
    opacity: 1;
}


:host.example-floating .hourctn__select {
    opacity: 1;
}