<div class="hourctn" [formGroup]="parts" role="group">
    <select #hour class="hourctn__select" formControlName="hour" matNativeControl (click)="$event.stopPropagation()" >
        <option *ngFor="let hour of hours" [value]="hour">{{hour}}</option>
    </select>

    <span class="spacer"> :</span>
    <select #minute class="hourctn__select" formControlName="minute" matNativeControl (click)="$event.stopPropagation()">
        <option *ngFor="let min of minutes" [value]="min">{{min}}</option>
    </select>
    <button mat-icon-button  aria-label="Icon button with a heart icon" class="icon">
        <mat-icon class="btn_icon">query_builder</mat-icon>
      </button>
</div>