@mixin table {
    width: 100%;
    border-collapse: separate;
    /* I don't use collapse because I need border */
    border-spacing: 0;
    font-size: 16px;
    font-family: var(--main-font);
    position: relative;

    thead th {
        top: 0;
        background-color: white;
        position: sticky;
        z-index: 10;
    }

    th {
        padding: 9px 24px 9px 0px;
        border-bottom: 2px solid var(--keppel-60);
        background-color: white;
    }


    td {
        border-bottom: 1px solid var(--cadet-grey-80);
        padding: 9px 24px 9px 0px;
    }

    tr:last-of-type>td {
        border-bottom: none;
    }

    &__row {
        text-align: left;

    }

    &__row-header {
        text-align: left;
        height: 50px;
    }
}

@mixin linky {
    color: var(--keppel-30);

    &:active {
        color: var(--keppel-80);
    }

    &:hover {
        color: var(--pink-70);
    }

    &:visited {
        color: var(--pink-40);
    }
}