//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Seymour+One&display=swap');
//https://medium.com/@raultonello18/angular-material-m3-dynamic-runtime-colors-6d6d1036d2b
//https://coolors.co/00b8a5-ffc107-e91e63-f44336-607d8b-9e9e9e

:root {
    box-sizing: border-box;
    --main-font-family: Raleway, Comic Sans, sans-serif;
    --funky-font: Seymour One, Comic Sans, sans-serif;


    --keppel-main: #00B8A5;
    --keppel-10: #00201c;
    --keppel-20: #003731;
    --keppel-25: #00443c;
    --keppel-30: #005047;
    --keppel-35: #005d53;
    --keppel-40: #006b5f;
    --keppel-50: #008678;
    --keppel-60: #00a392;
    --keppel-70: #1dc0ac;
    --keppel-80: #4bdcc8;
    --keppel-90: #6df9e3;
    --keppel-95: #b5fff1;
    --keppel-98: #e5fff8;
    --keppel-99: #f2fffb;


    --amber-10: #261A00;
    --amber-20: #3F2E00;
    --amber-25: #4D3800;
    --amber-30: #5B4300;
    --amber-35: #6A4E00;
    --amber-40: #785900;
    --amber-50: #977100;
    --amber-60: #B78A00;
    --amber-70: #D8A300;
    --amber-80: #FABD00;
    --amber-90: #FFDF9E;
    --amber-95: #ffefd4;
    --amber-98: #FFF8F2;
    --amber-99: #FFFBFF;

    --pink-10: #400014;
    --pink-20: #660025;
    --pink-25: #7B002E;
    --pink-30: #900038;
    --pink-35: #A60041;
    --pink-40: #BC004B;
    --pink-50: #E61A61;
    --pink-60: #FF4E7C;
    --pink-70: #FF869D;
    --pink-80: #FFB2BE;
    --pink-90: #ffd9de;
    --pink-95: #FFECEE;
    --pink-98: #FFF8F7;
    --pink-99: #FFFBFF;

    //--background-color: #fff8f2;
    --slate-grey-5: #0E1211;
    --slate-grey-10: #191C1B;
    --slate-grey-15: #232625;
    --slate-grey-20: #2D3130;
    --slate-grey-25: #383C3B;
    --slate-grey-30: #444746;
    --slate-grey-35: #505352;
    --slate-grey-40: #5C5F5E;
    --slate-grey-50: #747876;
    --slate-grey-60: #8E9190;
    --slate-grey-70: #A9ACAA;
    --slate-grey-80: #C4C7C5;
    --slate-grey-90: #E0E3E1;
    --slate-grey-95: #EFF1EF;
    --slate-grey-98: #F7FAF8;
    --slate-grey-99: #FAFDFB;

    --cadet-grey-5: #091311;
    --cadet-grey-10: #141D1B;
    --cadet-grey-15: #1E2826;
    --cadet-grey-20: #293230;
    --cadet-grey-25: #343D3B;
    --cadet-grey-30: #3F4946;
    --cadet-grey-35: #4B5452;
    --cadet-grey-40: #56605E;
    --cadet-grey-50: #6F7976;
    --cadet-grey-60: #899390;
    --cadet-grey-70: #A3ADAA;
    --cadet-grey-80: #BEC9C5;
    --cadet-grey-90: #DAE5E1;
    --cadet-grey-95: #E9F3EF;
    --cadet-grey-98: #F1FCF8;
    --cadet-grey-99: #F4FFFB;

    --main-color-font: var(--keppel-20);
    --main-color-font-title: var(--keppel-60);
}

*,
::before,
::after {
    box-sizing: inherit;
}

html,
body {
    height: 100vh;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: var(--main-font-family)
}


//https://coolors.co/009688-ffc107-61c284-f44336-607d8b-9e9e9e