.ctn {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    &__form {
        flex: 0 0 100%;
        height: 220px;
    }

    &__stats {
        flex: 0 0 39%;
    }

    &__list {
        flex: 0 0 60%;

        am-review-list {
            height: calc(100vh - 460px);

        }
    }
}

mat-card {
    padding: 0.5rem 1.75rem 0.75rem;
    // background-color: var(--background-color-card);
}

am-review-form {
    height: inherit;
}