.main {
    background-color: var(--slate-grey-90);
    height: calc(100vh - 80px);
}

mat-toolbar {
    background-color: var(--slate-grey-95);
    border-bottom: 2px solid var(--keppel-50);
    height: 5rem;

    .title {
        color: var(--keppel-60);
        font-size: 2rem;
        margin-left: 2em;
        font-family: var(--funky-font);
        letter-spacing: 3px;
        word-spacing: 1rem;
    }
}

.hmbr {
    cursor: pointer;
    margin-left: 1rem;
    position: relative;
    height: 40px;

    &__icon {
        width: 42px;
        height: 6px;
        background-color: var(--keppel-60);

        border-radius: 5px;

        &:first-of-type {
            position: absolute;
            top: 0;

        }

        &:nth-child(2) {
            transform: translateY(17px);
        }

        &:last-of-type {
            position: absolute;
            bottom: 0;

        }
    }
}

.side {
    width: 280px;
    border-right: 2px solid var(--main-color-font);
}