.main{
    background-color: var( --teal-100);
    height: calc(100vh - 64px);
}

mat-toolbar{
    background-color: #fff;
    border-bottom: 2px solid var(--teal-300);
    .title{
        color: var(--teal-600);
        margin-left: 1em;
        
    }
}

.hmbr {
    cursor: pointer;

    &__icon {
        width: 40px;
        height: 10px;
        background-color: var( --teal-300);
        margin: 3px;
        position: relative;
        border-radius: 5px;
    }
  }

  .side{
      width: 280px;
      border-right: 2px solid var(--teal-300);
  }

   