.main{
    background-color: var( --teal-100);
    height: calc(100vh - 64px);
}

mat-toolbar{
    background-color: #fff;
    border-bottom: 2px solid var(--teal-300);
    .title{
        color: var(--teal-600);
        margin-left: 1em;
        
    }
}

.hmbr {
    cursor: pointer;

    &__icon {
        width: 2rem;
        height: 0.5rem;
        background-color: var( --teal-300);
        margin: 3px;
        position: relative;
        border-radius: 2px;
    }
  }

  .side{
      width: 180px;
      border-right: 2px solid var(--teal-300);
  }

  .navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 0 24px;
    li{
        list-style: none;      
        padding-bottom: 4px;  
        &:hover{
            border-bottom: 1px solid var(--teal-300); 
        }
        &:active{
            border-bottom: 1px solid var(--teal-300); 
        }
    }
    &__link{
        color: var(--teal-600);
        font-size: 1.5em;
        text-decoration: none;   
        mat-icon, span{
            vertical-align: middle;
        }

     
    }
}