<mat-toolbar>
  <div (click)="manageMenu()" class="hmbr">
    <div class="hmbr__icon" [@hamburguerX]="!isHamburguer ? 'hamburguer' : 'topX'"></div>
    <div class="hmbr__icon hmbr__icon--yellow" [@hamburguerX]="!isHamburguer ? 'hamburguer' : 'hide'"></div>
    <div class="hmbr__icon" [@hamburguerX]="!isHamburguer ? 'hamburguer' : 'bottomX'"></div>
  </div>
  <span class="title">Angular mini project</span>
</mat-toolbar>
<mat-sidenav-container class="main">
  <mat-sidenav #sidenav mode="side" [(opened)]="ifMenuIsOpen" class="side">
    <am-menu></am-menu>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>