<div>
  <form [formGroup]="formDate" class="dt">


    <mat-form-field>
      <mat-label>Wybierz datę</mat-label>

      <input matInput formControlName="dateFormat">
      <button mat-icon-button (click)="showCalendar = !showCalendar" cdkOverlayOrigin class="dt__click" matSuffix
        #trigger="cdkOverlayOrigin">

        <mat-icon>calendar_today</mat-icon>
      </button>
    </mat-form-field>

    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="showCalendar">
      <div class="fly">
        <mat-calendar [(selected)]="selectedDate"></mat-calendar>
        <div class="fly__under">
          <am-hour-picker-input formControlName="time"></am-hour-picker-input>
        </div>
        <section class="btns">
          <button class="btns__btn imp" (click)="sendDateUpper()" mat-stroked-button color="primary">
           Zastosuj
          </button>
          <button class="btns__btn" (click)="cancel()" mat-stroked-button color="warn">
            Anuluj
          </button>
        </section>

      </div>

    </ng-template>
  </form>

</div>