<main>
    <div class="ctn">
        <div class="source">
            <h1> Signature Pad</h1>
            <h3> Tutorial by Adnane Lamghari  


                <a href="https://itnext.io/make-a-signing-pad-in-angular-vanilla-js-7a3eb7e0599d" target="_blank"> Link to
                    tutorial </a>
            </h3>
        </div>
        <p>Start drawing</p>
        <canvas (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (touchmove)="onMouseMove($event)"
            (touchstart)="onMouseDown($event)" #signPad width="600" height="300" placeholder="Start drawing" >
        </canvas>
        <div class="buttons">

            <button mat-flat-button color="primary" (click)="saveSignature()">Save</button>
            <button mat-flat-button color="accent" (click)="clearSignature()">Clear</button>
        </div>
        <p>Results</p>
         <img src="{{signatureImg}}" alt="">
    </div>
</main>