.ctn{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}
.up{
    height: 300px;
    overflow: auto;
    background-color: #fff;
}

.down{
    flex: 1 1 10%;
    overflow: auto;
    background-color: #fff;
}

.resizer{
    height: 8px;
    width: 100%;
    background-color: var( --teal-400);
    margin: 20px 0;
    z-index: 10;
   
}

.sign{
    position: relative;
    top: -1.20rem;
    left: 49%;
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid var( --teal-400);
    background-color: #fff;
    color: var( --teal-400);
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    mat-icon{
        transform: rotate(-45deg);
    }
}

am-table{
    height: 100%;


}



