:root {
    --main-font: Lato, "Cosmic Sans", sans-serif;
    --teal-300: #4db6ac;
    --pink-900: #880e4f;
    --orange-400: #ffa726;
    --teal-100: #B2DFDB;
    --teal-600: #00897B;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html,
body {
    height: 100vh;
    font-size: 16px;
}
