.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 0 24px;

    li {
        list-style: none;
        padding-bottom: 4px;
        height: 32px;

        &:hover {
            border-bottom: 1px solid var(--main-color-font-title);
        }

        &:active {
            border-bottom: 1px solid var(--pink-40);
        }
    }

    &__link {
        color: var(--main-color-font-title);
        font-size: 1.25em;
        text-decoration: none;

        mat-icon,
        span {
            vertical-align: middle;
        }


    }
}