<nav>
    <ul class="navigation">
      <li><a class="navigation__link" routerLink="/" routerLinkActive="active">
          <mat-icon aria-hidden="false" >home</mat-icon>
          <span>
            Start
          </span>
        </a></li>
      <li><a class="navigation__link" routerLink="/filter" routerLinkActive="active">
        <mat-icon aria-hidden="false">filter_list</mat-icon>
        <span>
          Multi-filtr
        </span>
      </a></li>
      <li><a class="navigation__link" routerLink="/picker" routerLinkActive="active">
        <mat-icon aria-hidden="false">date_range</mat-icon>
        <span>
          Date/Hour Picker
        </span>
      </a></li>
      <li><a class="navigation__link" routerLink="/review" routerLinkActive="active">
        <mat-icon aria-hidden="false">thumbs_up_down</mat-icon>
        <span>
          Review Form
        </span>
      </a></li>
    </ul>
  </nav>
