.navigation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 0 24px;
    li{
        list-style: none;      
        padding-bottom: 4px;  
        &:hover{
            border-bottom: 1px solid var(--teal-300); 
        }
        &:active{
            border-bottom: 1px solid var(--teal-300); 
        }
    }
    &__link{
        color: var(--teal-600);
        font-size: 1.25em;
        text-decoration: none;   
        mat-icon, span{
            vertical-align: middle;
        }

     
    }
}