<nav>
    <ul class="navigation">
      <li><a class="navigation__link" routerLink="/" routerLinkActive="active">
          <mat-icon aria-hidden="false" >home</mat-icon>
          <span>
            Start
          </span>
        </a></li>
        @for(project of list$ | async; track project){
          <li >
            <a class="navigation__link" routerLink="{{project.link}}" routerLinkActive="active">
            <mat-icon aria-hidden="false">{{project.icon}}</mat-icon>
            <span>
              {{ project.title}}
            </span>
            </a>
          </li>

        }

    </ul>
  </nav>
