<main class="ctn">
    <mat-card class="ctn__card">
          <mat-card-title color="primary">Date picker</mat-card-title>
          <mat-card-content>
              <p>Just date picker from Angular Material</p>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="pickerBasic">
                <mat-hint>DD.MM.YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickerBasic"></mat-datepicker-toggle>
                <mat-datepicker #pickerBasic></mat-datepicker>
              </mat-form-field>
          </mat-card-content>
    </mat-card>
    <mat-card class="ctn__card">
          <mat-card-title>Hour picker</mat-card-title>
          <mat-card-content>
            <p>Hour Picker</p>
         
            <am-hour-picker></am-hour-picker>

            <!-- <mat-form-field class="kuki">
              <mat-label>Choose a date</mat-label>
              <input matInput    [matDatepicker]="picker">
      
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required /> -->
        </mat-card-content>
    </mat-card>
    <mat-card class="ctn__card">
          <mat-card-title>Date Hour Picker</mat-card-title>
          <mat-card-content>
            <am-matdatepicker-time></am-matdatepicker-time>

        </mat-card-content>
    </mat-card>
        <mat-card class="ctn__card">
          <mat-card-title>Date with button action for set up date </mat-card-title>
          <mat-card-content>
            <p>Click button for setting data e.g. for today</p>
          <am-date-action></am-date-action>
        </mat-card-content>
    </mat-card>
   
</main>
