<table class="table">
    <thead>
        <tr class="table__row-header">
            <th *ngFor="let head of headers">
                {{head }}
            </th>
        </tr>
    </thead>
    <tbody #sharedTableBody>
        <tr *ngFor="let item of data" class="table__row">
            <td *ngFor="let prop of config">
                <div [ngSwitch]="prop.type">
                    <div *ngSwitchCase="'date'">
                        {{item[prop.key] | date: 'dd.MM.yyyy'}}
                    </div>
                    <div *ngSwitchDefault>
                        {{item[prop.key]}}
                    </div>

                </div>
            </td>
        </tr>
    </tbody>
</table>